AWS_EKS_CLUSTER_NAME=tokamak-optimism-goerli
AWS_VPC_ID=vpc-0b568be53bd156475
AWS_REGION=ap-northeast-2
EFS_VOLUME_ID=fs-07930a5396f99364c
CERTIFICATE_ARN=arn:aws:acm:ap-northeast-2:156512274928:certificate/0b743fa3-d5e5-4ff2-9881-bc6230cc7272
