alertmanager:
  config:
    global:
      # Also possible to place this URL in a file.
      # Ex: `slack_api_url_file: '/etc/alertmanager/slack_url'`
      slack_api_url: '${SLACK_API_URL}'

    route:
      receiver: no-alert
      group_by: ['namespace', 'group']
      routes:
        - matchers:
            - group = tokamak
          receiver: slack-notifications
          group_wait: 30s
          group_interval: 2m
          repeat_interval: 1h

    receivers:
      - name: no-alert
      - name: slack-notifications
        slack_configs:
          - channel: "#${SLACK_CHANNEL}"
            title: "{{ range .Alerts }}[${CLUSTER_NAME}] {{ .Labels.app }}\n{{ end }}"
            text: "{{ range .Alerts }}[{{ .Labels.severity }}] {{ .Annotations.message }}\n{{ end }}"

additionalPrometheusRulesMap:
  rule-name:
    groups:
      - name: 'l2geth'
        rules:
          - alert: 'l2geth down'
            labels:
              group: tokamak
              app: l2geth
              severity: critical
            expr: 'absent(up{job="l2geth"} == 1)'
            annotations:
              message: 'l2geth is down'

      - name: 'data-transport-layer'
        rules:
          - alert: 'data-transport-layer down'
            labels:
              group: tokamak
              app: data-transport-layer
              severity: critical
            expr: 'absent(up{job="data-transport-layer"} == 1)'
            annotations:
              message: 'data-transport-layer is down'

      - name: 'batch-submitter'
        rules:
          - alert: 'batch-submitter down'
            labels:
              group: tokamak
              app: batch-submitter
              severity: critical
            expr: 'absent(up{job="batch-submitter"} == 1)'
            annotations:
              message: 'batch-submitter is down'
      
      - name: 'sequencer balance'
        rules:
          - alert: 'sequencer balance'
            labels:
              group: tokamak
              app: batch-submitter
              severity: critical
            expr: 'batch_submitter_sequencer_balance_eth < 0.5'
            annotations:
              message: 'sequencer balance is low than 0.5 ether'
      
      - name: 'proposer balance'
        rules:
          - alert: 'proposer balance'
            labels:
              group: tokamak
              app: batch-submitter
              severity: critical
            expr: 'batch_submitter_proposer_balance_eth < 0.5'
            annotations:
              message: 'proposer balance is low than 0.5 ether'
