# for batch-submitter
BATCH_SUBMITTER_SEQUENCER_PRIVATE_KEY=
BATCH_SUBMITTER_PROPOSER_PRIVATE_KEY=

# for deployer
CONTRACTS_DEPLOYER_KEY=

# for l2
BLOCK_SIGNER_KEY=
BLOCK_SIGNER_ADDRESS=

# for relayer. It should be hex type like 0x....
MESSAGE_RELAYER__L1_WALLET=
